.navbar {
    padding: 1rem;
    background-color: #43aa8b;
    height: auto;
}

.logoType {
    height: 80px;
    font-size: 2.2rem;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

#offcanvasNavbar {
    background-color: #0C4767;
    padding: 1rem;
    border-left: 10px solid #43aa8b;
}

.nav-link {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
    color: white;
}

.nav-link:hover {
    color: #F8961E;
  }