.card {
display: flex;
width: 18rem;
padding-right: 0px;
padding-left: 0px
}

.cardImage {
	height: 250px;
	width: 100%;
	overflow: hidden;
}

.addbtn {
	background-color: #43AA8B;
}

.editbtn{
	background-color: #F8961E;
}

.deletebtn{
	background-color: #F94144;
}

.schoolForm {
	max-width: 40rem;
	}