.card {
display: flex;
width: 18rem;
}

.addbtn {
	background-color: #43AA8B;
}

.editbtn{
	background-color: #F8961E;
}

.deletebtn{
	background-color: #F94144;
}

.schoolForm {
	max-width: 40rem;
	}