.footer {
    width:100%;
    padding: 1rem;
    background-image: linear-gradient(#666, #222);
    height: auto;
    font-family: 'Sintony', sans-serif;
    font-size: .8rem;
    color: white;
    border-top: 10px solid #999
}

.copyright {
    color: #999;
}

.teamLinks {
    text-decoration: none;
    color: #43AA8B;
    font-weight: bold;
}